/* CSS HERE */


/* Try: updating the background to a gradient */

body {
 
}


/* Try: changing the font styling of h1 or h2 elements */

h1, h2, h3, h4, h5, h6, h7, h9, header, footer, p, span, a, ul, li, div {
    
    font-family: 'Dr Sugiyama', cursive !important;
    font-size: 1.5rem !important;
}

.sticker {
    
    width: 2rem;
    height: 2rem;
}

.ex1 .sticker-img {
    background-image: url(../images/dragon.gif);
}

.ex2 .sticker-img {
    background-image: url(../images/dragon2.gif);
}

footer {
    
}

/* Try: targeting one element on a specific site and changing something about it's appearance*/

